 .u-section-1 {
  background-image: none;
  min-height: 377px;
}

.u-section-1 .u-tabs-1 {
  min-height: 375px;
  height: auto;
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-1 .u-tab-link-1 {
  background-image: none;
}

.u-section-1 .u-tab-link-2 {
  background-image: none;
}

.u-section-1 .u-tab-link-3 {
  background-image: none;
}

.u-section-1 .u-tab-item-4 {
  margin-bottom: 0;
}

.u-section-1 .u-tab-link-4 {
  background-image: none;
}

.u-section-1 .u-tab-item-5 {
  margin-bottom: 0;
}

.u-section-1 .u-tab-link-5 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 19px;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 11px 0;
}

.u-section-1 .u-line-1 {
  height: 3px;
  transform-origin: left center 0px;
  width: 1080px;
  margin: 6px auto 0 11px;
}

.u-section-1 .u-text-2 {
  font-family: AtariSmall;
  margin: 20px auto 0 11px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 11px 0;
}

.u-section-1 .u-line-2 {
  height: 3px;
  transform-origin: left center 0px;
  margin: 6px auto 0 11px;
}

.u-section-1 .u-text-4 {
  margin-left: 11px;
  margin-bottom: 0;
  margin-right: 11px;
  font-family: AtariSmall;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-countdown-1 {
  margin: 23px auto -1px 7px;
}

.u-section-1 .u-countdown-counter-1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-1 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-2 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-3 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-3 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-3 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-4 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-4 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-4 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-5 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-5 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-5 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-6 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-6 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-6 {
  margin-left: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 24px 12px;
}

.u-section-1 .u-text-7 {
  font-family: AtariSmall;
  background-image: none;
  margin: 0 auto 0 23px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-8 {
  font-family: AtariSmall;
  margin: 0 auto 0 18px;
}

.u-section-1 .u-text-9 {
  font-family: AtariSmall;
  background-image: none;
  margin: 0 auto 0 18px;
}

.u-section-1 .u-text-10 {
  font-family: AtariSmall;
  margin: 6px auto 0 18px;
}

.u-section-1 .u-container-layout-4 {
  padding: 5px 6px;
}

.u-section-1 .u-text-11 {
  font-family: aokay;
  margin: 0 auto;
}

.u-section-1 .u-text-12 {
  font-family: AtariSmall;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-13 {
  font-family: AtariSmall;
  margin: -258px auto 0 289px;
}

.u-section-1 .u-container-layout-5 {
  padding: 22px 16px;
}

.u-section-1 .u-text-14 {
  font-family: AtariSmall;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-15 {
  font-family: AtariSmall;
  margin: 4px auto 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-16 {
  font-family: AtariSmall;
  margin: 0 auto;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-17 {
  font-family: AtariSmall;
  margin: -4px auto 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-line-1 {
    width: 902px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-line-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-countdown-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-line-1 {
    width: 682px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 220px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-line-1 {
    width: 520px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 164px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-line-1 {
    width: 320px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 102px;
  }
}@font-face {
  font-family: 'AtariSmall';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/AtariSmall.ttf);
}